body{
  background-color: rgb(248, 248, 234);
  
}

 .container4 {
   background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg?crop=1.00xw:1.00xh;0,0&resize=480:*");
   background-color: #cccccc;
   height: 500px;
   background-position: static;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   /* opacity: 0.8; */
 }

 h1 {
   text-align: center;
   padding: 60px;
   /* margin-top: 10px; */
 }

 p {
   text-align: center;
 }

 .bt {
   text-align: center;
 }

 .circle {
   border-radius: 50%;
   width: 60px;
   height: 60px;
   padding: 10px;
   margin-left: auto 50px;
   background: #fff;
   border: 3px solid #000;
   color: #000;
   text-align: center;
   align-items: center;
   margin-top: 10%;
   font: 32px Arial, sans-serif;
 }

 .circles {
   display: flex;
   flex-direction: row;
   margin: 50px;
   align-items: center;

 }

 .container2 {
   text-align: center;
   margin-top: 60px;
 }

 .container5 {
   height: 10%;
   width: 80%;
   align-items: center;
   margin-left: 10%;
   margin-bottom: 15%;
   margin-top: 10%;
   color: #000;
   /* margin-right: 20%; */

 }

 .d-block {
   height: 10%;
   width: 100%;
 }

 img {
   opacity: 0.8;
 }