{% extends "bootstrap/base.html" %}

{% block title %}
House-Connect
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="btn btn-lg">
            <span class="glyphicon glyphicon-home" style="color:rgb(0, 162, 255); font-weight:bolder;"></span> House-connect
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('about')}}">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('dashboard') }}">Products</a></li>
            <!-- <li><a href="{{ url_for('homes') }}">Home Display</a></li> -->
          </ul>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Enter estate or neighbourhood">
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<style type="text/css">
  /* flip-card */

  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flips{
  display:flex;
  justify-content:space-between;
  background-color:black;
}
/* footer */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 40px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.container4{
            background-image:url("./static/r-architecture-MAnVoJlQUvg-unsplash.jpg");
            background-color: #CCCCCC;
            height: 500px;
            background-position: static;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            /* opacity: 0.8; */
            }
            h1{
                text-align: center;
                padding: 60px;
                /* margin-top: 10px; */
            }
            p{
                text-align: center;
            }
            .bt{
                text-align: center;
            }
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-left: 40%;
    background: #fff;
    border: 3px solid rgb(44, 43, 43);
    color: #000;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    font: 32px Arial, sans-serif;
}
.circles{
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: normal;
    text-align: center;
    padding: 10px;
}
.container2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}
  .container5, .img2{
    width: 80%;
    -webkit-filter: grayscale(90%);
    filter: grayscale(50%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .container5, h5, p {
    color: black !important;
  }



</style>


  <div class="container4">
    <h1>Welcome to House Connect</h1>
    <p>House Connect is your portal to find and apply for affordable rentals, <br>
      and homeownership opportunities in Nairobi City.</p>
    <div class="bt">
      <button type="button" class="btn btn-primary">Get started</button>
     
    </div>
  </div>
  <div class="container2">
    <h2>How does House Connect work?</h2>
    <p>Through Housing Connect, you can find and apply for affordable rental and homeownership opportunities.<br>
      To qualify, your household must meet the household income and size requirements for a unit in the affordable
      development.</p>
    <div class="circles">
      <div class="bt2">
        <div class="circle">
          1
        </div>
        <div>
          <h4>Complete your profile</h4>
          <p>Remember to update your profile each time your income or household information changes.</p>
        </div>
      </div>
      <div class="bt3">
        <div class="circle">
          2
        </div>
        <div>
          <h4>Check our profile</h4>
          <p>Remember to update your profile
            each time your income or
            household information changes.</p>
        </div>
      </div>
      <div class="bt4">
        <div class="circle">
          3
        </div>
        <div>
          <h4>Sign a lease or complete a purchase</h4>
          <p>If you are matched to a specific unit,
            you may sign a lease or complete purchase.</p>
        </div>
      </div>
      <div class="bt4">
        <div class="circle">
          4
        </div>
        <div>
          <h4>Selection</h4>
          <p>Check often for new developments that fit <br>your household.
            It may take several months for applications to be processed.
            You may apply to multiple different lotteries at once.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container1">
    <h1 style="font-family: 'Joti One'";>TESTIMONIALS</h1>
<p>If you’re looking to design your dream home but don’t know where to begin, you’re in the right place! At House-Connect.com, we offer readymade house plans created by top floor plan designers. </p>
<p>Meeting people from all over the world is a unique possibility here. There is something about that experience that makes friendships last</p>
<div class="flips">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./static/homeschooling.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h5>Brandon Hatley</h5> 
      <p style="font-family: 'Joti One'"><strong>I had the pleasure for working with one of your team members.
        From start to finish she was very responsive, kind, and a constant professional. I look forward to the opportunity to work with your company.</strong><br></p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./static/1_0JDsCH92l7TbuEc5p4twbw.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h5>Jackson Hacking</h5>
      <p style="font-family: 'Joti One'"><strong><strong>Am so lucky that I found House hunt Real Estate Team,they made buying our first home an enjoyable and easy experience.
        Quick to respond and will do anything to help, we highly recommend you try them<br></strong></p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="./static/150717181134-black-fathers.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h5>Steven Stalker</h5> 
      <p style="font-family: 'Joti One'"><strong>Your company is one of the best agents we have ever worked with,
        you go beyond any expectation and gets things done. We are very lucky to have your team working with us. Thank you so much!!!.<br></strong></p>
    </div>
  </div>
</div>
</div>

  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>House-Connect</h4>
          <ul>
            <li><a href="{{ url_for('test')}}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('dashboard') }}">Products</a></li>
            <li><a href="{{ url_for('homes') }}">Home Display</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li> <a href="https://hassconsult.co.ke/real-estate/property-for-sale">Explore</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Address</h4>
          <ul>
            <li><a href="#"><i class="fas fa-home mr-3"></i> kenya, NB 00100, Nairobi</a></li>
            <li><a href="#"> <i class="fas fa-envelope mr-3"></i> info@houseconnect.com</a></li>
            <li><a href="#"><i class="fas fa-phone mr-3"></i> +254 567 898</p></a></li>
            <li><a href="#"><i class="fas fa-print mr-3"></i> + 254 567 897</p></a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
 </footer>
  <!-- Footer -->
</div>


  
  
{% endblock %}
