
{% extends "bootstrap/base.html" %}

{% block title %}
House-Connect
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:black; font-weight:bolder;"> <a href="/" class="btn btn-lg">
            <span class="glyphicon glyphicon-home" style="color:rgb(0, 162, 255); font-weight:bolder;"></span> House-connect
          </a></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index')}}">Home</a></li>
           
            <li><a href="#">Profile</a></li>
            <!-- <li><a href="{{ url_for('login') }}">Login</a></li> -->
            <!-- <li><a href="{{ url_for('signup') }}">Sign Up</a></li> -->
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>

          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="background-image: url(../static/images/wood3.jpg);">

      <div class="starter-template">
          <br><br><br><br><br><br>

        <h1 style="text-align:center; color:rgb(15, 15, 15)">PRODUCTS</h1>
        <div id="middlebar" style="color:rgb(0, 162, 255);font-weight: bolder; text-align:center;font-family: 'Joti One'"><br>
            <div id="middlebar" style="color:rgb(0, 162, 255);font-weight: bolder; text-align:center; "><br>
            <div id="text" style="font-size:larger">
                "There is something Permanent and something extremely profound in owning a HOME."<br>
                 
            </div>   
        </div>


    <div class="container-fluid" >
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>One Bedroom</h4>

              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Two Bedroom</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Three Bedroom</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Four Bedroom</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            
               
             
          </div>
        </div>
      </div>
    </div>
      </div>

    </div><!-- /.container -->
{% endblock %}