<!-- {% block body %}
 		<form action="{{ url_for('bookUpdate')}}" method="post"> 
		<h5>Update Book Details</h5>
		{% for bk in book %}
		<div class="form-group">
            <input class="form-control" type="hidden" name="bookid" placeholder="Book ID" value={{bk[0]}} >
        </div>
		<div class="form-group">
            <input class="form-control" type="text" name="isbn" placeholder="ISBN" value={{bk[1]}}>
        </div>
		<div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title" value={{bk[2]}}>
        </div>
		<div class="form-group">
            <input class="form-control" type="text" name="author" placeholder="Author" value={{bk[3]}}>
        </div>
		<div class="form-group">
            <input class="form-control" type="text" name="year" placeholder="Year" value={{bk[4]}}>
        </div>
		<div class="form-group">
			<button class="btn btn-primary">Submit</button>
		</div>
		{% endfor %}
		</form>
	{% endblock %} -->