<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
     crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
        <div class="container-fluid">
            <img style="height: 8%; width: 6%;" src="/app/static/istockphoto-1162985114-612x612.jpg">
          <!-- <a class="navbar-brand" href="#">Home</a> -->
          <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a> -->
              </li>
              <li class="nav-item">
                <li><a href="{{ url_for('login') }}">Login</a></li>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a href="{{ url_for('about') }}">About</a></li>
                  <li><a class="dropdown-item" href="#">contact</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a> -->
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
   <style type="text/css">
    .container4{
            background-image:url("/app/static/r-architecture-MAnVoJlQUvg-unsplash.jpg");
            background-color: #CCCCCC;
            height: 500px;
            background-position: static;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            /* opacity: 0.8; */
            }
            h1{
                text-align: center;
                padding: 60px;
                /* margin-top: 10px; */
            }
            p{
                text-align: center;
            }
            .bt{
                text-align: center;
            }
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-left: 40%;
    background: #fff;
    border: 3px solid rgb(44, 43, 43);
    color: #000;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    font: 32px Arial, sans-serif;
}
.circles{
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: normal;
    text-align: center;
    padding: 10px;
}
.container2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}
  .container5, .img2{
    width: 80%;
    -webkit-filter: grayscale(90%);
    filter: grayscale(50%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .container5, h5, p {
    color: black !important;
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
}
  
  .d-block{
    height: 10%;
    width:100%;
  }
  img{
    opacity: 0.8;
  }
  p{
    color: black;
  }
  h5{
    color: black;
  }
  .img2{
width: 70%;
  }
</style>
  <div class="container4">
    <h1>Welcome to House Connect</h1>
    <p>House Connect is your portal to find and apply for affordable rentals, <br>
    and homeownership opportunities in Nairobi City.</p>
    <div class="bt">
      <button type="button" class="btn btn-primary">Get started</button>
      <button type="button" class="btn btn-primary">Login</button>
    </div>
  </div>
   <div class="container2">
       <h2>How does House Connect work?</h2>
       <p>Through Housing Connect, you can find and apply for affordable rental and homeownership opportunities.<br>
         To qualify, your household must meet the household income and size requirements for a unit in the affordable development.</p>
        <div class="circles">
          <div class="bt2">
            <div class="circle">
             1
            </div>
            <div>
              <h4>Complete your profile</h4>
              <p>Remember to update your profile each time your income or household information changes.</p>
            </div>
          </div>
          <div class="bt3">
            <div class="circle">
              2
            </div>
            <div>
              <h4>Check our profile</h4>
              <p>Remember to update your profile
              each time your income or
              household information changes.</p>
            </div>
          </div>
          <div class="bt4">
            <div class="circle">
              3
            </div>
            <div>
              <h4>Sign a lease or complete a purchase</h4>
              <p>If you are matched to a specific unit,
              you may sign a lease or complete purchase.</p>
            </div>
          </div>
          <div class="bt4">
            <div class="circle">
              4
            </div>
            <div>
              <h4>Selection</h4>
              <p>Check often for new developments that fit <br>your household.
              It may take several months for applications to be processed.
              You may apply to multiple different lotteries at once.</p>
            </div>
          </div>
        </div>
  </div>
  <div class="container5">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img2" src="/app/static/homeschooling.jpg" class="d-block w-100 h-50%" alt="stock">
          <div class="carousel-caption d-none d-md-block ">
            <h5>Brandon Hatley</h5>
            <p><strong>I had the pleasure for working with one of your team members.
            From start to finish she was very responsive, kind, and a constant professional. I look forward to the opportunity to work with your company.</strong><br></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img2" src="/app/static/1_0JDsCH92l7TbuEc5p4twbw.jpeg" class="img2" alt="happy home">
          <div class="carousel-caption d-none d-md-block">
            <h5>Jackson Hacking</h5>
            <p><strong><strong>Am so lucky that I found House hunt Real Estate Team,they made buying our first home an enjoyable and easy experience.
            Quick to respond and will do anything to help, we highly recommend you try them<br></strong></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img2" src="/app/static/150717181134-black-fathers.jpg" class="img2" alt="savanna Greens">
          <div class="carousel-caption d-none d-md-block">
            <h5>Steven Stalker</h5>
            <p><strong>Your company is one of the best agents we have ever worked with,
            you go beyond any expectation and gets things done. We are very lucky to have your team working with us. Thank you so much!!!.<br></strong></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
     <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">House Connect</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Gallery</a>
            </p>
          </li>
          <li>
            <p>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </p>
          </li>
          <li>
            <p>
              <a href="https://hassconsult.co.ke/real-estate/property-for-sale">Explore</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Contact</a>
            </p>
          </li>
          <!-- <li>
            <p>
              <a href="https://hassconsult.co.ke/real-estate/privacy-policy">privacy policy</a>
            </p>
            </li> -->
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> kenya, NB 00100, Nairobi</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@houseconnect.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +254 567 898</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 254 567 897</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <!-- facebook-->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f">Facebook</i><br>
        </a>
      
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw"><br>
          <i class="fab fa-twitter">Twitter</i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g">Google</i><br>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble"><br>
          <i class="fab fa-instagram">Instagram</i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> House Connect</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script>
        type = "text/javascript"
        src = "{{ url_for('static', filename = 'index.js') }}"
    </script>
</body>
</html>